[Desktop Entry]
Version=1.0
Type=Application
StartupNotify=true
Comment=TrueOS Control Panel
Categories=Utility;
Name=TrueOS SysAdm
TryExec=sysadm-client
Exec=sysadm-client -localhost
Icon=trueos
